Repository codesquad-member-2020/sidedish-12, pull requests merged in 2020-04, with the labels that each got.

#7 [Team] Repository Setup
  .github/ISSUE_TEMPLATE/-be--title.md
  .github/ISSUE_TEMPLATE/-fe--title.md
  .github/ISSUE_TEMPLATE/-ios--title.md
  .github/ISSUE_TEMPLATE/-team--title.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: TEAM, documentation

#11 Feature/fe
  FE/side-dish/.gitignore
  FE/side-dish/package-lock.json
  FE/side-dish/package.json
  FE/side-dish/public/index.html
  FE/side-dish/src/SideDish.js
  FE/side-dish/src/index.js
  FE/side-dish/src/serviceWorker.js
  FE/side-dish/src/setupTests.js
  FE/side-dish/yarn.lock
Labels: FE

#12 [iOS] 메인페이지 UI 구현
  iOS/.gitignore
  iOS/README.md
  iOS/SideDish/SideDish.xcodeproj/project.pbxproj
  iOS/SideDish/SideDish.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/SideDish/SideDish.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/SideDish/SideDish/AppDelegate.swift
  iOS/SideDish/SideDish/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/SideDish/SideDish/Assets.xcassets/Badge Dark Gray.colorset/Contents.json
  iOS/SideDish/SideDish/Assets.xcassets/Badge Purple.colorset/Contents.json
  iOS/SideDish/SideDish/Assets.xcassets/Badge Yellow.colorset/Contents.json
  iOS/SideDish/SideDish/Assets.xcassets/Contents.json
  iOS/SideDish/SideDish/Assets.xcassets/Point Mint.colorset/Contents.json
  iOS/SideDish/SideDish/Base.lproj/LaunchScreen.storyboard
  iOS/SideDish/SideDish/Base.lproj/Main.storyboard
  iOS/SideDish/SideDish/DataSources/SideDishDataSource.swift
  iOS/SideDish/SideDish/Delegates/SideDishDelegate.swift
  iOS/SideDish/SideDish/Info.plist
  iOS/SideDish/SideDish/SceneDelegate.swift
  iOS/SideDish/SideDish/Utils/ReusableView.swift
  iOS/SideDish/SideDish/Utils/UIColorExtension.swift
  iOS/SideDish/SideDish/ViewController.swift
  iOS/SideDish/SideDish/Views/BadgeStackView.swift
  iOS/SideDish/SideDish/Views/Badges/BadgeLabel.swift
  iOS/SideDish/SideDish/Views/Badges/EventBadge.swift
  iOS/SideDish/SideDish/Views/Badges/FreeGiftBadge.swift
  iOS/SideDish/SideDish/Views/Badges/LaunchingBadge.swift
  iOS/SideDish/SideDish/Views/Badges/OutOfStockBadge.swift
  iOS/SideDish/SideDish/Views/BorderedLabel.swift
  iOS/SideDish/SideDish/Views/RoundImageView.swift
  iOS/SideDish/SideDish/Views/SideDishCell.swift
  iOS/SideDish/SideDish/Views/SideDishHeaderView.swift
  iOS/SideDish/SideDish/Views/SideDishHeaderView.xib
  iOS/SideDish/SideDishTests/Info.plist
  iOS/SideDish/SideDishTests/SideDishTests.swift
Labels: enhancement, iOS

#19 Feature/fe
  FE/side-dish/package-lock.json
  FE/side-dish/package.json
  FE/side-dish/public/manifest.json
  FE/side-dish/src/App.js
  FE/side-dish/src/SideDish.js
  FE/side-dish/src/components/header/Header.jsx
  FE/side-dish/src/components/menuTab/Menu.jsx
  FE/side-dish/src/components/menuTab/MenuItem.jsx
  FE/side-dish/src/components/menuTab/MenuList.jsx
  FE/side-dish/src/components/menuTab/constant/menuConstant.js
  FE/side-dish/src/components/nav/Nav.jsx
  FE/side-dish/src/components/nav/NavItem.jsx
  FE/side-dish/src/components/nav/NavSelectItem.jsx
  FE/side-dish/src/components/nav/constant/navConstants.js
  FE/side-dish/src/css/reset.css
  FE/side-dish/src/index.js
Labels: CSS-IN-JS, FE, React

#26 Feature/fe carouse1
  FE/side-dish/.gitignore
  FE/side-dish/package-lock.json
  FE/side-dish/package.json
  FE/side-dish/public/index.html
  FE/side-dish/src/App.js
  FE/side-dish/src/components/UseFetch.jsx
  FE/side-dish/src/components/carousel/Badge.jsx
  FE/side-dish/src/components/carousel/Carousel.jsx
  FE/side-dish/src/components/carousel/CarouselItem.jsx
  FE/side-dish/src/components/carousel/DeliveryType.jsx
  FE/side-dish/src/components/carousel/price/Price1.jsx
  FE/side-dish/src/components/carousel/price/Price2.jsx
  FE/side-dish/src/components/header/Header.jsx
  FE/side-dish/src/components/menuTab/Menu.jsx
  FE/side-dish/src/components/menuTab/MenuItem.jsx
  FE/side-dish/src/components/menuTab/MenuList.jsx
  FE/side-dish/src/components/menuTab/constant/menuConstant.js
  FE/side-dish/src/components/nav/Nav.jsx
  FE/side-dish/src/components/nav/NavItem.jsx
  FE/side-dish/src/components/nav/NavSelectItem.jsx
  FE/side-dish/src/components/nav/constant/navConstants.js
  FE/side-dish/src/index.js
  FE/side-dish/src/serviceWorker.js
  FE/side-dish/src/setupTests.js
  FE/side-dish/src/styles/reset.css
  FE/side-dish/yarn.lock
Labels: CSS-IN-JS, FE, React

#28 Revert 26 feature/fe carouse1
  FE/side-dish/.gitignore
  FE/side-dish/package-lock.json
  FE/side-dish/package.json
  FE/side-dish/public/index.html
  FE/side-dish/public/manifest.json
  FE/side-dish/src/App.js
  FE/side-dish/src/components/header/Header.jsx
  FE/side-dish/src/components/menuTab/Menu.jsx
  FE/side-dish/src/components/menuTab/MenuItem.jsx
  FE/side-dish/src/components/menuTab/MenuList.jsx
  FE/side-dish/src/components/menuTab/constant/menuConstant.js
  FE/side-dish/src/components/nav/Nav.jsx
  FE/side-dish/src/components/nav/NavItem.jsx
  FE/side-dish/src/components/nav/NavSelectItem.jsx
  FE/side-dish/src/components/nav/constant/navConstants.js
  FE/side-dish/src/css/reset.css
  FE/side-dish/src/index.js
  FE/side-dish/src/serviceWorker.js
  FE/side-dish/src/setupTests.js
  FE/side-dish/yarn.lock
Labels: CSS-IN-JS, FE, React

#32 [#31] restore: git 문제로 인한 backup file로 restore
  FE/side-dish/public/index.html
  FE/side-dish/public/manifest.json
  FE/side-dish/src/App.js
  FE/side-dish/src/components/UseFetch.jsx
  FE/side-dish/src/components/carousel/Badge.jsx
  FE/side-dish/src/components/carousel/Carousel.jsx
  FE/side-dish/src/components/carousel/CarouselItem.jsx
  FE/side-dish/src/components/carousel/DeliveryType.jsx
  FE/side-dish/src/components/carousel/price/Price1.jsx
  FE/side-dish/src/components/carousel/price/Price2.jsx
  FE/side-dish/src/components/menuTab/Menu.jsx
  FE/side-dish/src/components/menuTab/MenuList.jsx
  FE/side-dish/src/index.js
  FE/side-dish/src/styles/reset.css
Labels: FE

#52 Feature/fe modal
  FE/side-dish/package-lock.json
  FE/side-dish/package.json
  FE/side-dish/src/App.js
  FE/side-dish/src/components/carousel/Badge.jsx
  FE/side-dish/src/components/carousel/Carousel.jsx
  FE/side-dish/src/components/carousel/CarouselItem.jsx
  FE/side-dish/src/components/carousel/ModalCarousel.jsx
  FE/side-dish/src/components/carousel/ModalPage.jsx
  FE/side-dish/src/components/fetch/useFetch.jsx
Labels: CSS-IN-JS, FE, React

#54 [iOS] 리팩토링
  iOS/.gitignore
  iOS/README.md
  iOS/SideDish/Banchan.xcodeproj/project.pbxproj
  iOS/SideDish/Banchan/Assets.xcassets/Badge Dark Gray.colorset/Contents.json
  iOS/SideDish/Banchan/Assets.xcassets/Badge Purple.colorset/Contents.json
  iOS/SideDish/Banchan/Assets.xcassets/Badge Yellow.colorset/Contents.json
  iOS/SideDish/Banchan/Base.lproj/Main.storyboard
  iOS/SideDish/Banchan/Controllers/ViewController.swift
  iOS/SideDish/Banchan/Models/Banchan.swift
  iOS/SideDish/Banchan/Models/BanchanResponse.swift
  iOS/SideDish/Banchan/Models/DefaultLocation.swift
  iOS/SideDish/Banchan/Networking/APIRouter.swift
  iOS/SideDish/Banchan/Networking/Endpoints.swift
  iOS/SideDish/Banchan/Networking/NetworkManager.swift
  iOS/SideDish/Banchan/UseCases/BanchanUseCase.swift
  iOS/SideDish/Banchan/Utils/UIColorExtension.swift
  iOS/SideDish/Banchan/ViewModels/BanchanViewModel.swift
  iOS/SideDish/Banchan/ViewModels/CategorizedBanchanViewModel.swift
  iOS/SideDish/Banchan/ViewModels/ViewModelBinding.swift
  iOS/SideDish/Banchan/Views/BadgeLabel.swift
  iOS/SideDish/Banchan/Views/BadgeView.swift
  iOS/SideDish/Banchan/Views/Badges/EventBadge.swift
  iOS/SideDish/Banchan/Views/Badges/FreeGiftBadge.swift
  iOS/SideDish/Banchan/Views/Badges/LaunchingBadge.swift
  iOS/SideDish/Banchan/Views/Badges/OutOfStockBadge.swift
  iOS/SideDish/Banchan/Views/BanchanCell.swift
Labels: iOS, refactor

#55 Feature/fe o auth
  FE/side-dish/package-lock.json
  FE/side-dish/package.json
  FE/side-dish/src/App.js
  FE/side-dish/src/components/carousel/ModalPage.jsx
  FE/side-dish/src/components/nav/Nav.jsx
  FE/side-dish/src/components/nav/NavItem.jsx
  FE/side-dish/src/components/util/cookie.js
  FE/side-dish/src/components/util/useFetch.jsx
Labels: FE, React

#59 [iOS] 뷰 업데이트 방식 개선
  iOS/README.md
  iOS/SideDish/Banchan/Controllers/ViewController.swift
Labels: iOS, refactor

#37 [iOS] 메인페이지 구현
  iOS/.gitignore
  iOS/README.md
  iOS/SideDish/Banchan.xcodeproj/project.pbxproj
  iOS/SideDish/Banchan.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/SideDish/Banchan.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/SideDish/Banchan/AppDelegate.swift
  iOS/SideDish/Banchan/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/SideDish/Banchan/Assets.xcassets/Contents.json
  iOS/SideDish/Banchan/Assets.xcassets/Point Mint.colorset/Contents.json
  iOS/SideDish/Banchan/Base.lproj/LaunchScreen.storyboard
  iOS/SideDish/Banchan/Base.lproj/Main.storyboard
  iOS/SideDish/Banchan/Controllers/ViewController.swift
  iOS/SideDish/Banchan/Delegates/BanchanDelegate.swift
  iOS/SideDish/Banchan/Info.plist
  iOS/SideDish/Banchan/Models/Banchan.swift
  iOS/SideDish/Banchan/Models/BanchanResponse.swift
  iOS/SideDish/Banchan/Models/DefaultLocation.swift
  iOS/SideDish/Banchan/Networking/APIBuilder.swift
  iOS/SideDish/Banchan/Networking/APIRouter.swift
  iOS/SideDish/Banchan/Networking/Endpoints.swift
  iOS/SideDish/Banchan/Networking/NetworkManager.swift
  iOS/SideDish/Banchan/SceneDelegate.swift
  iOS/SideDish/Banchan/UseCases/BanchanUseCase.swift
  iOS/SideDish/Banchan/Utils/ReusableView.swift
  iOS/SideDish/Banchan/Utils/UIColorExtension.swift
  iOS/SideDish/Banchan/ViewModels/CategorizedBanchanViewModel.swift
  iOS/SideDish/Banchan/ViewModels/ViewModelBinding.swift
  iOS/SideDish/Banchan/Views/BadgeLabel.swift
  iOS/SideDish/Banchan/Views/BadgeView.swift
  iOS/SideDish/Banchan/Views/BanchanCell.swift
  iOS/SideDish/Banchan/Views/BanchanHeaderView.swift
  iOS/SideDish/Banchan/Views/BanchanHeaderView.xib
  iOS/SideDish/Banchan/Views/BorderedLabel.swift
  iOS/SideDish/Banchan/Views/RoundImageView.swift
  iOS/SideDish/BanchanTests/BanchanTests.swift
  iOS/SideDish/BanchanTests/Info.plist
  iOS/result1.png
Labels: enhancement, iOS
